p {
  margin: auto;
  font-size: 1.3rem;
}

.cart-image {
  width: 100px;
  justify-content: center;
  justify-self: center;
}
.cart-title {
  text-align: left;
}
hr {
  display: flex;
  justify-content: center;
  border-color: rgb(39, 36, 36);
  border-width: 0.25px;
}
.cart-footer {
  display: flex;
  font-weight: 700;
  justify-content: space-around;
}
.remove-btn {
  cursor: pointer;
}
.cart-empty {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
}

.cart-button {
  background: none;
  border: none;
}

.carts {
  display: grid;
  align-items: center;
}

.cart-item {
  border-bottom: 1px solid;
}

.cart-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
}
