p {
  margin: auto;
  font-size: 1.3rem;
}
.cart {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px 20px;
  text-align: center;
}
.cart-image {
  width: 100px;
  justify-content: center;
  justify-self: center;
}
.cart-title {
  text-align: left;
}
hr {
  display: flex;
  justify-content: center;
  border-color: rgb(39, 36, 36);
  border-width: 0.25px;
}
.cart-footer {
  display: flex;
  font-weight: 700;
  justify-content: space-around;
}
.remove-btn {
  cursor: pointer;
}
.cart-empty {
  display: flex;
  justify-content: center;
  text-align: center;
}

.cart-button {
  background: none;
  border: none;
}

.quantity {
  display: grid;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
.amount {
  text-align: center;
}
