.single-left {
  width: 250px;
  height: auto;
}
.single-left-container {
  display: grid;
  justify-items: center;
  align-items: center;

  justify-content: center;

  align-items: center;
  min-height: 100vh;
}
.rating-votee {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
