.card-item {
  display: grid;
  justify-items: center;
  text-align: center;
  height: 100%;
  width: 250px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

.card-image {
  margin-top: 10px;
  height: 150px;
  width: 100px;
  object-fit: contain;
}
.card-image-container :hover {
  animation: scale 0.4s linear;
  animation-fill-mode: forwards;
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.link {
  text-decoration: none;
  color: black;
}

.rate-count {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  margin-bottom: 15px;
  cursor: pointer;
}

.card-container {
  display: grid;
  justify-content: center;
}
