.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff6ea;
}

.nav-container {
  display: block;
  position: relative;
}
.amount-container {
  position: absolute;
  top: -0.6rem;
  right: -0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-amount {
  color: white;
}
.nav-icon {
  width: 2rem;
  height: 2rem;
}

.nav-sub-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  background-color: #fff6ea;
  border: none none none none;
}

.btn-nav {
  border: none;
  cursor: pointer;
  background-color: #fff6ea;
  margin-bottom: 10px;
}

.btn-nav:hover {
  background-color: antiquewhite;
  border-radius: 10px;
}

.nav-search {
  display: flex;
  align-items: center;
}

.search-input {
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: black;
}
